<!-- Icon pack  -->

{% if icon == 'star' %}
    <svg class="{{ class }}" width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-949.000000, -117.000000)" fill="#2E4676">
                <g id="stars" transform="translate(949.000000, 117.000000)">
                    <polygon id="Star" points="8.08398039 12.75 3.08780574 15.3766445 4.04199019 9.81332223 -5.25746113e-13 5.87335555 5.58589307 5.06167777 8.08398039 0 10.5820677 5.06167777 16.1679608 5.87335555 12.1259706 9.81332223 13.080155 15.3766445"></polygon>
                </g>
            </g>
        </g>
    </svg>
{% elsif icon == 'close' %}
    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g id="icons" transform="translate(-201.000000, -9.000000)" stroke="#070707" stroke-width="2">
                <g id="ico/close_ico" transform="translate(208.000000, 16.000000) rotate(-360.000000) translate(-208.000000, -16.000000) translate(203.000000, 11.000000)">
                    <path d="M10,10 L0,0" id="Line-2"></path>
                    <path d="M0,10 L10,0" id="Line-2"></path>
                </g>
            </g>
        </g>
    </svg>
{% elsif icon == 'facebook' %}
    <svg class="{{ class }}" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-360.000000, -67.000000)" fill="#000000">
                <path d="M372.819178,91 L361.324616,91 C360.592836,91 360,90.4067958 360,89.6753014 L360,68.3246055 C360,67.5929249 360.592929,67 361.324616,67 L382.675477,67 C383.406977,67 384,67.5929249 384,68.3246055 L384,89.6753014 C384,90.4068889 383.406884,91 382.675477,91 L376.559653,91 L376.559653,81.7058773 L379.679261,81.7058773 L380.146378,78.0837928 L376.559653,78.0837928 L376.559653,75.7713207 C376.559653,74.7226437 376.850856,74.0080048 378.354645,74.0080048 L380.272656,74.0071667 L380.272656,70.7675453 C379.940943,70.7234042 378.802392,70.6247851 377.477776,70.6247851 C374.712417,70.6247851 372.819178,72.3127631 372.819178,75.4126044 L372.819178,78.0837928 L369.691561,78.0837928 L369.691561,81.7058773 L372.819178,81.7058773 L372.819178,91 L372.819178,91 Z" id="Facebook"></path>
            </g>
        </g>
    </svg>
{% elsif icon == 'twitter' %}

{% elsif icon == 'pinterest' %}
    <svg class="{{ class }}" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-405.000000, -67.000000)" fill="#000000">
                <path d="M417.000706,67 C410.373787,67 405,72.3723761 405,79.0007056 C405,83.9130358 407.955019,88.1352972 412.184336,89.9910037 C412.150467,89.1541718 412.178691,88.1465867 412.39178,87.2349621 C412.623214,86.2612454 413.935615,80.6969483 413.935615,80.6969483 C413.935615,80.6969483 413.553184,79.9306756 413.553184,78.7974951 C413.553184,77.0194038 414.584759,75.69148 415.867525,75.69148 C416.95837,75.69148 417.486153,76.5113777 417.486153,77.4935615 C417.486153,78.5900512 416.786206,80.2312577 416.426354,81.7511025 C416.125772,83.0254013 417.064209,84.0626213 418.320162,84.0626213 C420.593579,84.0626213 422.124713,81.1428823 422.124713,77.6826601 C422.124713,75.053625 420.353678,73.0850238 417.131946,73.0850238 C413.492503,73.0850238 411.224731,75.7987299 411.224731,78.8299524 C411.224731,79.8770506 411.532369,80.6136885 412.014994,81.1838067 C412.237961,81.447698 412.267596,81.5521256 412.187158,81.8541189 C412.130711,82.0728524 411.99806,82.6062798 411.943023,82.8165461 C411.862586,83.1199506 411.61704,83.2300229 411.34327,83.1171282 C409.665373,82.4327042 408.884989,80.5967543 408.884989,78.5321926 C408.884989,75.1241842 411.75957,71.034574 417.460751,71.034574 C422.042865,71.034574 425.058564,74.3522667 425.058564,77.9098606 C425.058564,82.6175692 422.44223,86.1342388 418.582642,86.1342388 C417.288587,86.1342388 416.069324,85.4342918 415.651614,84.6397954 C415.651614,84.6397954 414.954489,87.4043041 414.807726,87.9377315 C414.553713,88.8620568 414.055565,89.7877933 413.599753,90.5074969 C414.679309,90.8264244 415.819545,91 417.000706,91 C423.627624,91 429,85.6276239 429,79.0007056 C429,72.3723761 423.627624,67 417.000706,67" id="Pinterest"></path>
            </g>
        </g>
    </svg>
{% elsif icon == 'free-shipping-icon' %}
    <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="cart_page" transform="translate(-1017.000000, -373.000000)">
                <g id="cart" transform="translate(958.000000, 329.000000)">
                    <g id="Group" transform="translate(30.000000, 27.000000)">
                        <g id="box_ico" transform="translate(29.000000, 17.000000)">
                            <rect id="Rectangle-2" stroke="#030303" x="0.5" y="0.5" width="16" height="16" rx="2"></rect>
                            <rect id="Rectangle-4" fill="#030303" x="4" y="4" width="9" height="1" rx="0.5"></rect>
                            <rect id="Rectangle-4" fill="#030303" x="4" y="8" width="9" height="1" rx="0.5"></rect>
                            <rect id="Rectangle-4" fill="#030303" x="4" y="6" width="9" height="1" rx="0.5"></rect>
                            <rect id="Rectangle-4" fill="#030303" x="4" y="10" width="9" height="1" rx="0.5"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
{% elsif icon == 'instagram' %}
    <svg class="{{ class }}" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-449.000000, -67.000000)" fill="#000000">
                <path d="M461.000024,67 C464.259004,67 464.667657,67.0138139 465.947585,67.0722133 C467.224845,67.1304697 468.097168,67.3333433 468.860456,67.6300083 C469.649562,67.9366288 470.318773,68.3469487 470.985936,69.014064 C471.653051,69.6812268 472.063371,70.3504379 472.370039,71.139544 C472.666657,71.9028324 472.86953,72.7751553 472.927787,74.0524153 C472.986186,75.3323429 473,75.7409957 473,79.0000238 C473,82.2590043 472.986186,82.6676571 472.927787,83.9475847 C472.86953,85.2248447 472.666657,86.0971676 472.370039,86.860456 C472.063371,87.6495621 471.653051,88.3187732 470.985936,88.985936 C470.318773,89.6530513 469.649562,90.0633712 468.860456,90.3700394 C468.097168,90.6666567 467.224845,90.8695303 465.947585,90.9277867 C464.667657,90.9861861 464.259004,91 461.000024,91 C457.740996,91 457.332343,90.9861861 456.052415,90.9277867 C454.775155,90.8695303 453.902832,90.6666567 453.139544,90.3700394 C452.350438,90.0633712 451.681227,89.6530513 451.014064,88.985936 C450.346949,88.3187732 449.936629,87.6495621 449.630008,86.860456 C449.333343,86.0971676 449.13047,85.2248447 449.072213,83.9475847 C449.013814,82.6676571 449,82.2590043 449,79.0000238 C449,75.7409957 449.013814,75.3323429 449.072213,74.0524153 C449.13047,72.7751553 449.333343,71.9028324 449.630008,71.139544 C449.936629,70.3504379 450.346949,69.6812268 451.014064,69.014064 C451.681227,68.3469487 452.350438,67.9366288 453.139544,67.6300083 C453.902832,67.3333433 454.775155,67.1304697 456.052415,67.0722133 C457.332343,67.0138139 457.740996,67 461.000024,67 Z M461.000024,69.1621583 C457.79587,69.1621583 457.416322,69.1744003 456.15097,69.2321328 C454.980982,69.2854829 454.345591,69.4809732 453.922743,69.6453107 C453.362614,69.8629984 452.962869,70.1230329 452.542975,70.5429749 C452.123033,70.9628692 451.862998,71.3626144 451.645311,71.9227435 C451.480973,72.3455912 451.285483,72.9809821 451.232133,74.1509702 C451.1744,75.4163218 451.162158,75.7958701 451.162158,79.0000238 C451.162158,82.2041299 451.1744,82.5836782 451.232133,83.8490298 C451.285483,85.0190179 451.480973,85.6544088 451.645311,86.0772565 C451.862998,86.6373856 452.12308,87.0371308 452.542975,87.4570251 C452.962869,87.8769671 453.362614,88.1370016 453.922743,88.3546893 C454.345591,88.5190268 454.980982,88.7145171 456.15097,88.7678672 C457.416179,88.8255997 457.795632,88.8378417 461.000024,88.8378417 C464.204368,88.8378417 464.583869,88.8255997 465.84903,88.7678672 C467.019018,88.7145171 467.654409,88.5190268 468.077257,88.3546893 C468.637386,88.1370016 469.037131,87.8769671 469.457025,87.4570251 C469.876967,87.0371308 470.137002,86.6373856 470.354689,86.0772565 C470.519027,85.6544088 470.714517,85.0190179 470.767867,83.8490298 C470.8256,82.5836782 470.837842,82.2041299 470.837842,79.0000238 C470.837842,75.7958701 470.8256,75.4163218 470.767867,74.1509702 C470.714517,72.9809821 470.519027,72.3455912 470.354689,71.9227435 C470.137002,71.3626144 469.876967,70.9628692 469.457025,70.5429749 C469.037131,70.1230329 468.637386,69.8629984 468.077257,69.6453107 C467.654409,69.4809732 467.019018,69.2854829 465.84903,69.2321328 C464.583678,69.1744003 464.20413,69.1621583 461.000024,69.1621583 Z M461.000024,72.8378417 C464.403288,72.8378417 467.162158,75.5967121 467.162158,79.0000238 C467.162158,82.4032879 464.403288,85.1621583 461.000024,85.1621583 C457.596712,85.1621583 454.837842,82.4032879 454.837842,79.0000238 C454.837842,75.5967121 457.596712,72.8378417 461.000024,72.8378417 Z M461.000024,83 C463.209149,83 465,81.2091493 465,79.0000238 C465,76.7908507 463.209149,75 461.000024,75 C458.790851,75 457,76.7908507 457,79.0000238 C457,81.2091493 458.790851,83 461.000024,83 Z M468.845642,72.5943839 C468.845642,73.3896825 468.200915,74.034362 467.405616,74.034362 C466.610365,74.034362 465.965638,73.3896825 465.965638,72.5943839 C465.965638,71.7990854 466.610365,71.1543582 467.405616,71.1543582 C468.200915,71.1543582 468.845642,71.7990854 468.845642,72.5943839 Z" id="Instagram"></path>
            </g>
        </g>
    </svg>
{% elsif icon == 'snapchat' %}

{% elsif icon == 'ticktok' %}

{% elsif icon == 'youTube' %}

{% elsif icon == 'plus' %}
    <svg class="{{ class }}" width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-260.000000, -11.000000)" stroke="#000000" stroke-width="2">
                <polyline id="arrow_up_ico" transform="translate(266.000000, 15.500000) rotate(-180.000000) translate(-266.000000, -15.500000) " points="261 13 265.648438 18 271 13"></polyline>
            </g>
        </g>
    </svg>
{% elsif icon == 'minus' %}
    <svg class="{{ class }}" width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-286.000000, -12.000000)" stroke="#000000" stroke-width="2">
                <polyline id="arrow_down_ico" transform="translate(292.000000, 15.500000) rotate(-360.000000) translate(-292.000000, -15.500000) " points="287 13 291.648438 18 297 13"></polyline>
            </g>
        </g>
    </svg>
{% elsif icon == 'logo' %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 751.67 92.1"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,46.3v-.25C0,21.63,17.94,0,44.65,0c13.48,0,22.26,3.56,30.4,9.54a5.13,5.13,0,0,1,2,4.07,5.08,5.08,0,0,1-5,5.09,5.33,5.33,0,0,1-3.19-1.27c-6.36-4.84-13.48-8.14-24.68-8.14C24.55,9.29,10.43,26,10.43,45.79v.26c0,21.24,13.61,37,35.23,37a41.91,41.91,0,0,0,25.7-8.9V52H47.45a4.51,4.51,0,0,1,0-9H76.07a5.07,5.07,0,0,1,5,5.09v27.1a7.18,7.18,0,0,1-3.43,6.1A54.27,54.27,0,0,1,45.29,92.1C17.3,92.1,0,71.75,0,46.3"/><path class="cls-1" d="M142.72,84,178.86,5C180.13,2.17,182,.51,185.21.51h.51c3.06,0,5.09,1.66,6.24,4.45l36.13,78.86a6.8,6.8,0,0,1,.64,2.55,4.83,4.83,0,0,1-4.83,4.84c-2.42,0-4.07-1.65-5-3.69L209.64,67H160.79l-9.28,20.74a5,5,0,0,1-4.84,3.44,4.55,4.55,0,0,1-4.57-4.58,5.82,5.82,0,0,1,.63-2.67m63-26.08L185.21,12.35,164.73,57.88Z"/><path class="cls-1" d="M305,10.82H279.22a4.67,4.67,0,0,1-4.7-4.58,4.78,4.78,0,0,1,4.7-4.71H341a4.78,4.78,0,0,1,4.71,4.71A4.67,4.67,0,0,1,341,10.82H315.22v75.3a5.09,5.09,0,1,1-10.18,0Z"/><path class="cls-1" d="M408.46,6a5,5,0,1,1,10,0V41.1h51.4V6a5,5,0,1,1,10,0V86.12a5,5,0,1,1-10,0V50.49h-51.4V86.12a5,5,0,1,1-10,0Z"/><path class="cls-1" d="M549.66,6.62a5.08,5.08,0,0,1,5-5.09H588c10.94,0,19.72,3.31,25.31,8.91A24.56,24.56,0,0,1,620.14,28v.26c0,14.62-9.93,23.15-23.79,25.82l22.13,28.49a5.48,5.48,0,0,1,1.66,3.7,5.25,5.25,0,0,1-5.09,5,5.85,5.85,0,0,1-4.71-2.67L585.28,56H559.71V86.12a5,5,0,1,1-10.05,0Zm37.41,40.32c13.35,0,22.9-6.86,22.9-18.31v-.26c0-10.94-8.4-17.55-22.77-17.55H559.71V46.94Z"/><path class="cls-1" d="M686.16,85.49V6.62a5.08,5.08,0,0,1,5-5.1h55.33a4.58,4.58,0,1,1,0,9.16H696.2V41.1h44.53a4.64,4.64,0,0,1,4.58,4.58,4.56,4.56,0,0,1-4.58,4.58H696.2V81.41h50.89a4.58,4.58,0,0,1,0,9.16h-56a5.08,5.08,0,0,1-5-5.08"/></g></g></svg>
{% elsif icon == 'love' %}
    <svg width="19px" height="16px" viewBox="0 0 19 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-146.000000, -8.000000)" stroke="#030303">
                <path d="M159.088889,9 C161.801221,9 164,11.2569596 164,14.0410603 C164,16.6519701 161.166667,19.6382833 155.5,23 C149.833333,19.7665314 147,16.7802182 147,14.0410603 C147,11.2569596 149.198779,9 151.911111,9 C153.327413,9 154.603689,9.61538934 155.5,10.599882 C156.396311,9.61538934 157.672587,9 159.088889,9 Z" id="love_ico"></path>
            </g>
        </g>
    </svg>
{% elsif icon == 'search' %}
    <svg width="23px" height="25px" viewBox="0 0 23 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-311.000000, -65.000000)">
                <g id="search_ico" transform="translate(324.000000, 79.000000) rotate(-44.000000) translate(-324.000000, -79.000000) translate(315.000000, 65.000000)">
                    <circle id="Oval-2" stroke="#030303" cx="9" cy="9" r="9"></circle>
                    <rect id="Rectangle" fill="#030303" x="8" y="18" width="1" height="10" rx="0.5"></rect>
                </g>
            </g>
        </g>
    </svg>
{% elsif icon == 'arrow-left' %}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 20 8"><path d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z" fill="#000" fill-rule="evenodd"/></svg>
{% elsif icon == 'quote' %}
    <svg width="44px" height="42px" viewBox="0 0 44 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icons" transform="translate(-16.000000, -58.000000)" fill="#030303"><path d="M54.2408377,58 L59.2321117,62.2541436 C57.2867849,65.5543443 55.8278117,68.6869097 54.8551483,71.6519337 C53.882485,74.6169577 53.3961606,77.4659164 53.3961606,80.198895 L53.3961606,80.8176796 L60,80.8176796 L60,100 L45.2565445,100 L45.2565445,81.281768 C45.2565445,77.1565171 45.9732331,73.2375876 47.4066318,69.5248619 C48.8400304,65.8121361 51.1180763,61.9705539 54.2408377,58 Z M25.1378709,58 L29.9755672,62.2541436 C28.0814332,65.3996474 26.6608541,68.4548655 25.7137871,71.4198895 C24.7667201,74.3849135 24.2931937,77.3112194 24.2931937,80.198895 L24.2931937,80.8176796 L30.7434555,80.8176796 L30.7434555,100 L16,100 L16,81.281768 C16,77.2596484 16.7294866,73.3665013 18.1884817,69.6022099 C19.6474768,65.8379186 21.9639166,61.9705539 25.1378709,58 Z" id="quote_ico"></path></g></g></svg>
{% elsif icon == 'bestseller' %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" width="14.83753675609023">
  <g opacity="1">
    <path fill="rgb(3,3,3)" fill-opacity="1" opacity="1" fill-rule="evenodd" d="M1.42207626160208 7.661293495335625C2.2097449444662 9.815702873580852 3.5443849700629766 11.232364644128388 5.0582511668490096 11.232364644128388C7.479366816276615 11.232364644128388 9.442068844784819 7.608914745343991 9.442068844784819 3.139162777169976C9.442068844784819 2.025984243689536 9.320333365938161 0.9652971155114064 9.10009915390059 0C12.925057555361862 5.985356758863171 14.83753675609043 10.17910063284585 14.83753675609043 12.581231621954789C14.83753675609043 16.67850425944765 11.51604101553804 20 7.418768378045215 20C3.321495740552391 20 0 16.67850425944765 0 12.581231621954789C0 11.385319847706072 0.47402542053402663 9.745340472166351 1.42207626160208 7.661293495335625Z"/>
  </g>
  </svg>
{% endif %}
